@use '../../../../styles/variables.scss' as *;

.logo {
  color: white;
}

.right-section {
  .user-info {
    .name {
      vertical-align: text-bottom;
    }
  }

  .section {
    margin-left: 30px;
  }
}

.store-selector {
  width: 200px;
}

