<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="hidden lg:inline">AZ Integrator</span>

    <span class="spacer"></span>

    <span class="right-section">
      <span class="section user-info">
        <span class="name"
          >{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}
          <span class="hidden lg:inline">({{ (user$ | async)?.username }})</span></span
        >
      </span>

      <button mat-icon-button matTooltip="My Account">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Wyloguj" (click)="logout()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
