<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>AZ Integrator</span>

    <span>&nbsp; Zalogowany jako: {{ (user$ | async)?.tenant_id }}</span>

    <span class="spacer"></span>

    <span class="right-section">
      <span class="section user-info">
        <button (click)="azTeamLogin()">AZ TEAM</button>
        <button (click)="mebleplLogin()">&nbsp;meblepl_24</button>
        <button (click)="myTestLogin()">&nbsp;MY TEST</button>
        <!--        <span class="name">{{ (user$ | async)?.unique_name }} ({{ (user$ | async)?.role }})</span>-->
        <!--        <button mat-icon-button>-->
        <!--          <mat-icon>face</mat-icon>-->
        <!--        </button>-->
      </span>

      <!--      <button mat-icon-button matTooltip="Wyloguj" (click)="logout()">-->
      <!--        <mat-icon class="material-icons-outlined">logout</mat-icon>-->
      <!--      </button>-->
    </span>
  </mat-toolbar-row>
</mat-toolbar>
