<div mat-dialog-title>
  <div class="flex justify-between items-center text-xl">
    <div>Nadaj przesyłkę</div>
    <mat-icon class="cursor-pointer" mat-dialog-close>close</mat-icon>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="!pb-1">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="text-lg mt-4 items-center">Dane odbiorcy</div>
    <mat-divider></mat-divider>

    <div class="flex mt-4">
      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Nazwa</mat-label>
        <input type="text" matInput formControlName="receiverName" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Nazwa firmy</mat-label>
        <input type="text" matInput formControlName="receiverCompanyName" />
      </mat-form-field>
    </div>

    <div class="flex mt-4">
      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Imię</mat-label>
        <input type="text" matInput formControlName="receiverFirstName" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Nazwisko</mat-label>
        <input type="text" matInput formControlName="receiverLastName" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput formControlName="receiverEmail" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Numer telefonu</mat-label>
        <input type="text" matInput formControlName="receiverPhoneNumber" />
      </mat-form-field>
    </div>

    <div class="text-lg mt-4 items-center">Adres odbiorcy</div>
    <mat-divider></mat-divider>

    <div class="flex mt-4">
      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Miasto</mat-label>
        <input type="text" matInput formControlName="receiverAddressCity" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Kod pocztowy</mat-label>
        <input type="text" matInput formControlName="receiverAddressPostCode" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Ulica</mat-label>
        <input type="text" matInput formControlName="receiverAddressStreet" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Numer budynku</mat-label>
        <input type="text" matInput formControlName="receiverAddressBuildingNumber" />
      </mat-form-field>

      <mat-form-field class="w-full flex-auto ml-4">
        <mat-label>Kod kraju</mat-label>
        <input type="text" matInput formControlName="receiverAddressCountryCode" />
      </mat-form-field>
    </div>

    <div class="flex text-lg mt-4 items-center">
      Paczki
      <button mat-icon-button type="button" (click)="addNewParcel()" matTooltip="Dodaj nową paczkę">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>
    <ng-container formArrayName="parcels">
      <ng-container *ngFor="let parcel of parcels.controls; let i = index">
        <div [formGroupName]="i" class="flex mt-4">
          <!--          <mat-form-field class="w-full flex-auto">-->
          <!--            <mat-label>Wielkość paczki</mat-label>-->
          <!--            <input type="text" matInput formControlName="parcelSize" />-->
          <!--          </mat-form-field>-->
          <mat-form-field class="w-full flex-auto ml-4">
            <mat-label>Długość [mm]</mat-label>
            <input type="text" matInput formControlName="length" />
          </mat-form-field>
          <mat-form-field class="w-full flex-auto ml-4">
            <mat-label>Szerokość [mm]</mat-label>
            <input type="text" matInput formControlName="width" />
          </mat-form-field>
          <mat-form-field class="w-full flex-auto ml-4">
            <mat-label>Wysokość [mm]</mat-label>
            <input type="text" matInput formControlName="height" />
          </mat-form-field>
          <mat-form-field class="w-full flex-auto ml-4">
            <mat-label>Waga [kg]</mat-label>
            <input type="text" matInput formControlName="weight" />
          </mat-form-field>
          <button mat-icon-button type="button" (click)="removeParcel(i)" matTooltip="Usuń paczkę">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>

    <div class="text-lg mt-4 items-center">Ubezpieczenie przesyłki</div>
    <mat-divider></mat-divider>

    <div class="flex mt-4">
      <mat-form-field class="w-24 flex-none ml-4">
        <mat-label>Kwota</mat-label>
        <input type="text" matInput formControlName="insuranceAmount" />
      </mat-form-field>

      <mat-form-field class="w-24 flex-none ml-4">
        <mat-label>Waluta</mat-label>
        <input type="text" matInput formControlName="insuranceCurrency" />
      </mat-form-field>
    </div>
  </form>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-flat-button [disabled]="form.invalid" color="primary" (click)="onSubmit()">Nadaj przesyłkę</button>
  <button mat-stroked-button color="primary" mat-dialog-close>Anuluj</button>
</div>
