@use 'tailwindcss' as *;
@use 'styles/variables.scss' as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.padding-content {
  padding: $main-content-padding;
}

/* Absolute Center Spinner */
.local-progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

///* Transparent Overlay */
//.local-progress-spinner:before {
//  content: '';
//  display: block;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0,0,0,0.3);
//}

.mat-column-actions {
  text-align: center !important;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-mdc-form-field .mdc-notched-outline {
  border-radius: 0.5rem; /* rounded-md */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 250px;
  }

  .store-selector {
    width: 100%;
  }

  .right-section {
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile-hide {
    display: none;
  }
}
