<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mr-2">home</mat-icon>
      Nowe zamówienia
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-allegro-orders-list-new></app-allegro-orders-list-new>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mr-2">home</mat-icon>
      Nadane przesyłki InPost
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-allegro-orders-list-ready-for-shipment></app-allegro-orders-list-ready-for-shipment>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
