@if (editMode) {
  <h2 mat-dialog-title class="text-lg font-semibold">Edytuj grupę</h2>
}
@if (!editMode) {
  <h2 mat-dialog-title class="text-lg font-semibold">Dodaj nową grupę</h2>
}

<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" mat-dialog-content class="space-y-4">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nazwa grupy</mat-label>
    <input matInput formControlName="name" class="focus:ring focus:ring-blue-300" />
    @if (groupForm.get('name')!.hasError('required')) {
      <mat-error> Nazwa jest wymagana </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Opis</mat-label>
    <textarea matInput formControlName="description" class="focus:ring focus:ring-blue-300" rows="3"></textarea>
  </mat-form-field>
</form>

<mat-dialog-actions align="end" class="mt-4">
  <button mat-button type="button" (click)="onCancel()" class="text-gray-700 hover:text-gray-900">Anuluj</button>
  <button mat-flat-button color="primary" type="button" (click)="onSubmit()" [disabled]="groupForm.invalid">
    Zapisz
  </button>
</mat-dialog-actions>
