<table mat-table [dataSource]="(orders$ | async)!" class="mat-elevation-z3">
  <ng-container matColumnDef="boughtAt">
    <th mat-header-cell *matHeaderCellDef>Data zakupu</th>
    <td mat-cell *matCellDef="let order">{{ order.updatedAt | date: 'dd.MM.yyyy, HH:mm:ss' }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Numer zamówienia</th>
    <td mat-cell *matCellDef="let order">{{ order.id }}</td>
  </ng-container>

  <ng-container matColumnDef="buyer">
    <th mat-header-cell *matHeaderCellDef>Dane kupującego</th>
    <td mat-cell *matCellDef="let order">
      <div class="flex flex-col">
        <div>{{ order.buyer.login }}</div>
        <div>{{ order.buyer.email }}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="isPaid">
    <th mat-header-cell *matHeaderCellDef>Zapłacono?</th>
    <td mat-cell *matCellDef="let order">
      <mat-icon *ngIf="!order?.payment?.paidAmount" class="text-red-600">close</mat-icon>
      <mat-icon *ngIf="order?.payment?.paidAmount" class="text-green-600">done</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="paymentType">
    <th mat-header-cell *matHeaderCellDef>Sposób płatności</th>
    <td mat-cell *matCellDef="let order">{{ getPaymentType(order) }}</td>
  </ng-container>

  <ng-container matColumnDef="deliveryType">
    <th mat-header-cell *matHeaderCellDef>Sposób dostawy</th>
    <td mat-cell *matCellDef="let order">{{ order?.delivery?.method?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="lineItems">
    <th mat-header-cell *matHeaderCellDef>Przedmioty</th>
    <td mat-cell *matCellDef="let order">
      <div *ngFor="let item of order.lineItems">
        {{ item.offer.name }}
      </div>
      <span *ngIf="order.messageToSeller" class="text-xs text-gray-500">
        <mat-icon class="text-sm text-blue-500 text-center align-middle">info</mat-icon>
        {{ order.messageToSeller }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Ilość</th>
    <td mat-cell *matCellDef="let order">
      <div *ngFor="let item of order.lineItems">
        {{ item.quantity }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Wartość brutto</th>
    <td mat-cell *matCellDef="let order">
      <div *ngFor="let item of order.lineItems">
        {{ item.price.amount * item.quantity | number: '1.2-2' }} {{ item.price.currency }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="totalToPay">
    <th mat-header-cell *matHeaderCellDef>Razem do zapłaty</th>
    <td mat-cell *matCellDef="let order">
      <span class="font-bold"
        >{{ order.summary?.totalToPay?.amount | number: '1.2-2' }} {{ order.summary?.totalToPay?.currency }}</span
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let order">
      <div>
        <ng-container *ngIf="canRegisterInpostShipment(order) | async">
          <button
            mat-icon-button
            matTooltip="Nadaj przesykę kurierską InPost"
            (click)="registerInPostShipment(order); $event.stopPropagation()">
            <mat-icon class="text-blue-600">add_box</mat-icon>
          </button>
        </ng-container>

        <!--        <ng-container *ngIf="canRegisterDpdShipment(order) | async">-->
        <!--          <button-->
        <!--            mat-icon-button-->
        <!--            matTooltip="Nadaj przesykę kurierską DPD"-->
        <!--            (click)="registerDpdShipment(order); $event.stopPropagation()">-->
        <!--            <mat-icon class="material-icons-outlined" matListItemIcon>add_box</mat-icon>-->
        <!--          </button>-->
        <!--        </ng-container>-->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  class="mat-elevation-z3"
  [length]="(totalItems$ | async)!"
  [pageIndex]="(currentPage$ | async)!"
  [pageSize]="(pageSize$ | async)!"
  [pageSizeOptions]="[5, 10, 25, 50, 100]"
  (page)="pageChanged($event)">
</mat-paginator>
