<ul class="w-full mt-4 space-y-2 max-h-128 overflow-auto">
  <ng-container *ngFor="let log of barcodeScannerLogs$ | async">
    <li
      class="w-full p-3 text-center border border-gray-400 rounded-lg shadow-sm"
      [ngClass]="{
        'bg-green-100 border-green-500': log.changeQuantity > 0,
        'bg-red-100 border-red-500': log.changeQuantity < 0,
      }">
      <button mat-icon-button class="absolute top-2 right-2" (click)="confirmRevert(log)" aria-label="Cofnij zmianę">
        <mat-icon>undo</mat-icon>
      </button>

      <span class="font-bold text-blue-700 text-lg">{{ log?.packageCode }}</span>
      <span
        class="text-lg font-semibold"
        [ngClass]="{ 'text-green-600': log.changeQuantity > 0, 'text-red-600': log.changeQuantity < 0 }">
        {{ log.changeQuantity > 0 ? '+' : '' }}{{ log.changeQuantity }}
      </span>

      <div class="text-xs text-gray-500 mt-1">
        {{ log.createdAt | date: 'dd.MM.yyyy, HH:mm:ss' }}
      </div>
    </li>
  </ng-container>
</ul>
