<div class="flex flex-col items-center justify-center w-full max-w-md mx-auto p-2">
  <div class="w-full flex items-center justify-center mb-2">
    <mat-icon class="text-blue-600 text-xl mr-1">qr_code_scanner</mat-icon>
    <span class="font-semibold text-sm text-blue-700">
      {{ type === 'in' ? 'Przyjęcie towaru' : 'Wydanie towaru' }}
    </span>
    <span class="ml-2 px-2 py-0.5 rounded bg-blue-100 text-blue-700 text-xs font-medium"> Skanuj kod </span>
  </div>

  <!-- Wskaźnik statusu synchronizacji -->
  <div class="w-full mb-2">
    <app-scan-status-indicator />
  </div>
  <input
    #barcodeInput
    autofocus
    type="text"
    [(ngModel)]="barcode"
    (keydown.enter)="scanBarcode()"
    placeholder="Zeskanuj kod kreskowy..."
    class="w-full px-3 py-2 text-base text-center border-2 border-blue-500 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300" />

  <button
    (click)="scanBarcode()"
    class="w-full mt-2 px-4 py-2 text-base font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 transition cursor-pointer">
    Zatwierdź
  </button>

  <app-barcode-scanned-codes-list [type]="type" />
</div>
