<app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [(opened)]="sidenavOpened" fixedInViewport="true">
    <mat-nav-list>
      @for (item of navigationItems; track item) {
        <ng-container *appFf="item.featureFlag">
          <div *appRoleAllow="item.roles">
            @if (hasSubItems(item)) {
              <!-- Parent item with sub-items -->
              <div class="menu-item-wrapper">
                <mat-list-item (click)="toggleExpand(item)" class="cursor-pointer">
                  <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                  @if (sidenav.opened) {
                    <span matListItemTitle>{{ item.title }}</span>
                  }
                </mat-list-item>
                @if (sidenav.opened) {
                  <mat-icon class="expand-icon">
                    {{ isExpanded(item) ? 'expand_less' : 'expand_more' }}
                  </mat-icon>
                }
              </div>

              <!-- Sub-items -->
              @if (isExpanded(item) && sidenav.opened) {
                <div class="sub-items">
                  @for (subItem of item.subItems; track subItem) {
                    <ng-container *appFf="item.featureFlag">
                      <mat-list-item
                        [routerLink]="subItem.route"
                        routerLinkActive="active-route"
                        *appRoleAllow="subItem.roles"
                        class="sub-item">
                        <mat-icon matListItemIcon class="sub-item-icon">{{ subItem.icon }}</mat-icon>
                        <span matListItemTitle>{{ subItem.title }}</span>
                      </mat-list-item>
                    </ng-container>
                  }
                </div>
              }
            } @else {
              <!-- Regular item without sub-items -->
              <mat-list-item [routerLink]="item.route" routerLinkActive="active-route">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                @if (sidenav.opened) {
                  <span matListItemTitle>{{ item.title }}</span>
                }
              </mat-list-item>
            }
          </div>
        </ng-container>
      }
    </mat-nav-list>

    <div class="absolute bottom-[10px] left-[50px]">
      <mat-list-item>
        <span mat-line class="text-white">v.{{ appVersion }}</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
