<app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="RoutePaths.AllegroOrders" routerLinkActive="active-route">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Zamówienia</span>
      </mat-list-item>
      <mat-list-item [routerLink]="RoutePaths.ParcelTemplates" routerLinkActive="active-route">
        <mat-icon matListItemIcon>inventory</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Szablony paczek</span>
      </mat-list-item>
    </mat-nav-list>

    <div class="absolute bottom-[10px] left-[50px]">
      <mat-list-item>
        <span mat-line class="text-white">v.{{ appVersion }}</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
